<ion-view style="" ng-controller="applicationsCtrl" class="has-header">
  <ion-header-bar>
    <h1 class="title font-size-24 grey-text">My Applications</h1>
  </ion-header-bar>
    <ion-content padding="true" title="My Applications">
          <div class="list">
            <a class="item card item-icon-left" data-ng-repeat="offer in applications" href="#/jobDetails/{{offer.id}}">
              <i class="icon ion-help"></i>
              <div ng-include="'templates/common/jobOffer.html'"></div>
            </a>
          </div>
        </ion-content>
    </ion-view>

