<ion-view style="" title="My Applicatons" ng-controller="applicationsCtrl">
    <ion-content class="has-header" padding="true">
        <ion-list style="">
            <ion-item style="" class="item-divider">Open</ion-item>
            <ion-item style="" href="#/jobDetails">Java Development of Application Plaatfrom</ion-item>
            <ion-item style="" href="#/jobDetails">Introduction of an C# Environment</ion-item>
            <ion-item style="" class="item-divider">Rejected</ion-item>
            <ion-item style="" href="#/jobDetails">Create IOs App for parking machines</ion-item>
        </ion-list>
    </ion-content>
</ion-view>

