<ion-view style="" title="My Bookmarks" class="has-header">
  <ion-header-bar>
    <h1 class="title font-size-24 grey-text">My Bookmarks</h1>
  </ion-header-bar>
  <ion-content padding="true">
    <div class="list">
      <a class="item card padding-left-7" data-ng-repeat="booked in bookmarks" href="#/jobDetails/{{r.bookedd}}">
        <div class="item-divider">
          {{booked.title}}
        </div>
          <div class="item-text-wrap">
            {{ booked.field}}
          </div>
          <div class="item-divider">
            {{ booked.location}}
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
