<ion-view style="" title="Job Details" ng-controller="jobDetailsCtrl">
  <ion-content padding="true">

    <h2 style="">{{job.title}}</h2>
  <!--   <h3 style="">## JobType is not supplied</h3>
    <h3 style="">## Company not supplied</h3> -->
    <h5 style="">{{job.location}}</h5>
    <h3 style="">{{job.minSalary}} - {{job.maxSalary}} Euro</h3>

    <div style=""><b>
      <u>Description :</u>
    </b>
      <p> {{job.description}}</p>
    </div>
    <div style="">
      <p>
        <b>
          <u>Field :</u>
        </b>{{job.field}}
      </p>

      <p>
        <b>
          <u>Deadline :</u>
        </b>{{job.applicationDeadline}}
      </p>

      <!--    <p>
           <b>
             <u>Position :</u>
           </b> ## position not supplied
         </p>
   -->
         <p>
           <b>
             <u>min. Education Level :</u>
           </b>{{job.minEducationLevel}}</p>

         <p>
         </p>

         <p>
           <b>
             <u>min. Experience Level :</u>
           </b> {{job.minYearsOfExperience}} years</p>

         <p>
           <b>
             <u>Start date :</u>
           </b> {{job.startDate}}
         </p>

         <p>
           <b>
             <u>Key Skills:</u>
           </b>
         <ul class="bullletList">
           <li data-ng-repeat="skill in job.keySkills" >
                 {{skill}}
           </li>
         </ul>
         </p>

      <!--   <p>
          <b>
            <u>tags :</u>
          </b>b ### tags not supplied
        </p>
  -->
        <p>
          <b>
            <u>Viewed :</u>
          </b>{{job.timesOfVisits}} times
        </p>
      </div>
      <button style="" class="button button-stable button-block  icon-left ion-bookmark">Bookmark</button>
      <button style="" class="button button-stable button-block  icon-left ion-briefcase">Apply!</button>


  </ion-content>
</ion-view>
