<ion-view style="" title="Job Details" ng-controller="jobDetailsCtrl">
    <ion-content class="has-header" padding="true">
        <h2 style="">{{job.title}}</h2>
        <h3 style="">{{job.jobType}}</h3>
        <h3 style="">Robert Bosch GmbH</h3>
        <h5 style="">{{job.location}}</h5>
        <h3 style="">889€ / month</h3>
        <div style="">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
        <div style="">
            <p>
                <b>
                    <u>Field :</u>
                </b>Informatics
            </p>
            <p>
            </p>
            <p>
                <b>
                    <u>Deadline :</u>
                </b>1.1.2016
            </p>
            <p>
                <b>
                    <u>Position :</u>
                </b>Developer
            </p>
            <p>
                <b>
                    <u>min. Education Level :</u>
                </b>Bachelor</p>
            <p>
            </p>
            <p>
                <b>
                    <u>min. Experience Level :</u>
                </b>0 years</p>
            <p>
                <b>
                    <u>Start date :</u>
                </b>1.3.2016
            </p>
            <p>
                <b>
                    <u>Key Skills:</u>
                </b>Java, Html, SW development
            </p>
            <p>
                <b>
                    <u>tags :</u>
                </b>bosch, java, development, schwieberdingen
            </p>
            <p>
                <b>
                    <u>Viewed :</u>
                </b>1423 times
            </p>
        </div>
        <button style="" class="button button-stable button-block  icon-left ion-bookmark">Bookmark</button>
        <button style="" class="button button-stable button-block  icon-left ion-briefcase">Apply!</button>
    </ion-content>
</ion-view>
