<ion-view style="" title="Login at WorkForce">
    <ion-content class="has-header" padding="true">
        <form style="" class="list">
            <label style="" class="item item-input">
                <span class="input-label">Username</span>
                <input placeholder="Username" type="text">
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Password</span>
                <input placeholder="Password" type="password">
            </label>
        </form>
        <a style="" class="button  button-block  icon-left ion-android-person" href="#/startup_registered_student">Log In</a>
        <div style="">
            <p>No Account yet? Register within 2 minutes</p>
        </div>
        <a style="" class="button  button-block  icon-left ion-ios-body" href="#/register">Register</a>
    </ion-content>
</ion-view>