<ion-view style="" title="My Bookmarks">
    <ion-content class="has-header" padding="true">
        <button style="" class="button button-stable button-block  icon ion-funnel">Filter</button>
        <ion-list style="">
            <ion-item style="" href="#/jobDetails">Java Development of an Application</ion-item>
            <ion-item style="" href="#/jobDetails">C# Web Platfrom development</ion-item>
            <ion-item style="" href="#/jobDetails">Android App for washing machines</ion-item>
            <ion-item style="" href="#/jobDetails">TV remote control app for IOs</ion-item>
            <ion-item style="" href="#/jobDetails">Homepage development for consultant</ion-item>
        </ion-list>
    </ion-content>
</ion-view>