<ion-view style="" title="Welcome Patrick">
    <ion-content class="has-header" padding="true">
        <img style="width: 100%; height: auto;" src="img/VzuPsmzeQEu8FIzoszE4_Logo_with_Text.png" height="auto" width="100%">
        <div style="">
            <br>
        </div>
        <form style="" class="list">
            <div style="">
                <center>Find your Job</center>
            </div>
            <label style="" name="Search" class="item item-input">
                <input placeholder="Search for Keywords" type="text">
            </label>
            <div style="">
                <center>in</center>
            </div>
            <label style="" name="Location" class="item item-input">
                <input placeholder="Location" type="text">
            </label>
            <a style="" class="button button-stable button-block  icon-left ion-search" href="#/search_results">Search</a>
        </form>
        <a style="" class="button button-stable button-block  icon-left ion-funnel" href="#/search_results">Filtered Search</a>
        <div style="">
            <br>
        </div>
        <div style="" class="list card">
            <div class="item item-divider">Patricks Area</div>
            <div class="item item-body">
                <a style="" class="button button-stable button-block  icon-left ion-email" href="#/myApplications">My Applications</a>
                <a style="" class="button button-stable button-block  icon-left ion-bookmark" href="#/myBookmarks">My Bookmarks</a>
                <button style="" class="button button-stable button-block  icon-left ion-person">My Profile</button>
                <button style="" class="button button-stable button-block  icon-left ion-power">Log out</button>
            </div>
        </div>
    </ion-content>
</ion-view>