<ion-content>
  <!-- Reset -->
  <header>
    <a ng-click="resetFilter()" class="item" menu-close>Reset Filter</a>
    <a ng-click="filterBy(filter)" class="item" menu-close>Apply Filter</a>
  </header>


  <div class="list">
    <div class="item item-divider">
      Keywords
    </div>
    <label class="item item-input">
      <input type="text" placeholder="some example keywords" ng-model="filter.keywords">
    </label>
    <br>

    <div class="item item-divider">
      Location
    </div>
    <label class="item item-input">
      <input type="text" placeholder="my hometown" ng-model="filter.location">
    </label>
    <br>
    <div class="item item-divider padding-top">
      Field of work
    </div>
    <label class="item item-input item-select padding-top">
      <div class="input-label"></div>
      <select ng-model="filter.field">
        <option selected></option>
        <option>Information Technology</option>
        <option>Project Management</option>
        <option>Human Ressources</option>
      </select>
    </label>
    <br>
    <div class="item item-divider padding-top">
      Job Type
    </div>
    <label class="item item-input item-select padding-top">
      <div class="input-label"></div>
      <select ng-model="filter.type">
        <option selected></option>
        <option>Full time</option>
        <option>Part time</option>
        <option>Working student</option>
        <option>Hiwi</option>
        <option>Master thesis</option>
        <option>Bachelor thesis</option>
        <option>Internship</option>
        <option>Contract</option>
      </select>
    </label>
    <br>

    <div class="item item-divider padding-top">
      minimum Education Level
    </div>
    <label class="item item-input item-select padding-top">
      <div class="input-label"></div>
      <select ng-model="filter.education">
        <option selected></option>
        <option>Diplom</option>
        <option>Bachelor</option>
        <option>Bachelor of science</option>
        <option>Bachelor of art</option>
        <option>Bachelor of engineering</option>
        <option>Master</option>
        <option>Master of science</option>
        <option>Master of art</option>
        <option>Master of engineering</option>
        <option>PhD</option>
      </select>
    </label>
    <br>

    <div class="item item-divider padding-top">
      minimum Experience: {{filter.experience}} years
    </div>
    <div class="item range range-positive">
      <i class="icon ion-ios-calendar-outline"></i>
      <input type="range" min="0" max="15" value="0" name="experience" ng-model="filter.experience">
      <i class="icon ion-ios-calendar"></i>
    </div>
    <br>

    <div class="item item-divider padding-top">
      minimum Salary: {{filter.salary}} Euro
    </div>
    <div class="item range range-positive">
      <i class="icon ion-social-euro-outline"></i>
      <input type="range" name="volume" min="0" max="200000" value="0" ng-model="filter.salary">
      <i class="icon ion-social-euro"></i>
    </div>

  </div>

  <!-- predefined Search
  <h4>Search title field</h4>
  <ul class="list">
    <a ng-repeat="filterWord in filters" ng-click="filterBy('{{filterWord}}')" class="item" menu-close>{{filterWord}}</a>
  </ul>

  <br>

  <!-- free search
  <h4>Search description field</h4>
  <label style="" name="filterForDescription" class="item item-input">
    <input placeholder="Search description" type="text" ng-model="filterForDescription">
  </label>
  <a ng-click="filterSearchDescription(filterForDescription)" class="item" menu-close>Search description</a>

-->
</ion-content>
